[2019-08-29 19:55] rguthriemsft opened #17 "core.GetProject api fails with error when trying to unmarshal response from azdo"
We have been trying to use the GetProject api passing in project name and getting an error that looks like it can't parse the lastUpdatedTime value in the response.

function that has the bug:

https://github.com/microsoft/azure-devops-go-api/blob/a196ec51000ea283baf30ab5a3f10223e223de3f/azuredevops/core/client.go#L330

Error and struct returned:

**parsing time ""0001-01-01T00:00:00"" as ""2006-0

[2019-08-29 20:21] rguthriemsft commented on #17
Looks similar to this issue https://github.com/golang/go/issues/9346

[2019-08-30 16:34] tedchamb commented on #17
Thanks for reporting.  I will look into it.

[2019-09-03 15:22] tedchamb commented on #17
Looking for feedback on this issue.  I am new to Go, so hoping there is a better way to fix this issue.

To fix the issue, I created a custom struct that has a time.Time property:
[code]

This allows the creation of a custom converter that checks for the error (we can't change the server behavior, so we have to adapt):
[code]

The benefit is that this is an easy fix, and we can handle other nuance

[2019-09-03 20:22] nmiodice commented on #17
@tedchamb can we push on the AzDO team to fix their API response in the default case?

Short of that, I think that your approach makes sense in the short term. The long term IMO is to fix the service as this will impact all the clients.

[2019-09-03 20:29] tedchamb commented on #17
Thanks, @nmiodice.   I will definitely push for a fix on the server side, but the 5.1 api version is already released, and can't be changed.  We also need to handle talking to already released Azure DevOps Servers.

[2019-09-03 20:30] rguthriemsft commented on #17
@tedchamb I am ok with current approach.  We can handle that in the work we are doing for now.

[2019-09-03 23:00] tedchamb commented on #17
@nmiodice , @rguthriemsft , thanks for the feedback!   I have pushed the PR.

[2019-09-03 23:00] #17 closed

[2019-09-03 23:10] nmiodice opened #19 "Generated models can be difficult to use due to unnecessary pointer types"
The generated models can be difficult to use with primitive types like `string`, `int` and `bool` because they are consumed as pointers and can make the code more verbose.

For example, in order to use [this struct](https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/core/models.go#L107-L130) with hard-coded values, I need to write my code like so:
[code]

Without pointers, it ca

[2019-09-04 02:37] tedchamb commented on #19
Thanks for the feedback.  A lot of thought was given in to how to handle the generated models, although that doesn't mean I got it right.  I agree that the verbosity of creating a new struct with hard coded values is not great.

Let me walk through the thinking behind the current approach.  The service is written in c#, so we need to be able to represent all the data in Go that can be represented

[2019-09-04 16:30] tedchamb commented on #17
I looked into the code on our server side, and it turns out that this is the default deserialization format from newtonsoft for a default DateTime.  You can repo this behavior with a simple program:

[code]

The console output from this is as follows:
[code]

This appears to be a bug in newtonsoft if I am reading the spec correctly.  The [rfc3339](https://tools.ietf.org/html/rfc3339) spec shows th

[2019-09-16 14:28] tedchamb commented on #19
@nmiodice , have you had a chance to review my response above?  Do you have any feedback regarding the response?

[2019-09-22 22:47] jpm63 commented on #19
I am in agreement with @nmiodice that the current approach, while true to the service, is less than ideal from developer perspective. There are some definite drawbacks to the approach I am about to outline, but I think the benefit outweighs the cost. Have you considered something like this to make the API a bit more idiomatic?

#### Getting data from the REST API
Even though it would represent som

[2019-09-23 14:25] mcdafydd commented on #19
I'm glad to see a complete Azure Devops library for go coming to fruition, thanks for your effort!

I've been following the current go-github approaches, which is to use pointers for all struct members, along with generated accessors and helper functions like https://github.com/google/go-github/blob/master/github/github.go#L1042-L1056.  They discussed this topic in several issues over the years.

[2019-10-01 19:53] nmiodice opened #21 "Generated SDK does not use interfaces, making testing difficult"
Its difficult to unit test against the generated SDK code (i.e., mocking the API response for a specific API call) because the factory used to generate the clients do not return an interface; instead they return a raw client.

This makes testing hard. Can the generated code be updated to (1) create an interface and (2) return the interface from the factory to create new clients?

[2019-10-07 17:01] nmiodice commented on #21
@tedchamb Any updates and/or ETA on this

[2019-10-07 20:14] tedchamb commented on #21
#22

[2019-10-08 14:03] tedchamb commented on #21
@nmiodice , I have merged the changes in, please let me know if it does not meet your needs.

[2019-10-08 14:03] #21 closed

[2019-10-18 19:36] nmiodice opened #30 "Graph::ListGroups API call fails with a JSON unmarshaling error"
The Graph API implementation for `ListGroups` consistently fails with a JSON unmarshaling error.

Steps to reproduce:
[code]

In my project, I need to call the API like this, which also fails:
[code]

After a brief look into the code, my initial hunch is that, possibly, the unmarshal code being called is `UnmarshalBody`, where it may need to be `UnmarshalCollectionBody`

The response in browser lo

[2019-10-18 19:47] tiwood commented on #30
I've just hit the same issue with Graph::ListUsers.
This may affect all `List` methods probably?

[2019-10-18 19:50] tiwood opened #32 "Graph::ListUsers API call fails with a JSON unmarshaling error"
This is the same issue described in #30 but for `ListUsers`.

This currently blocks https://github.com/microsoft/terraform-provider-azuredevops/pull/129

[2019-10-18 19:50] tedchamb commented on #30
Fixed in PR #31

[2019-10-18 19:50] #30 closed

[2019-10-18 19:54] tedchamb commented on #32
Thanks for reporting.  This is the same code generation issue that caused #30.   PR #31 fixes this also.

[2019-10-18 19:54] #32 closed

[2019-10-18 20:47] tiwood opened #33 "graph::CreateUser - Unable to specify correct UserCreationContext"
To create a user with `graph.CreateUser` we have to provide `CreateUserArgs`:

[code]

The CreationContext decides if we create an `aad`, `ad` or `msa` account, but the current implementation only allows us to use the following context (which shouldn't be used):

[code]

Instead we should be able to provide one of the following:
[code]

[2019-10-19 14:33] tedchamb commented on #33
Thanks @tiwood , this is an issue where Go's lack of inheritance makes this difficult to address in the code generator.  This is going to affect any method that accepts different subclasses as input.  Fortunately there are not a lot of methods that fall into this category.  I have a plan on how to fix this, but not sure when I will be able to get to it.  Can you give me an idea of the priority of

[2019-10-19 14:40] tedchamb commented on #33
The [`GraphClient`](https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/graph/client.go) is meant to replace the [`IdentityClient`](https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/identity/client.go), but the [`IdentityClient`](https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/identity/client.go) still works.  Until this issue is fixed, y

[2019-10-21 13:52] tmeckel opened #34 "Avoid double JSON marshalling in UnmarshalCollectionJson"
`UnmarshalCollectionJson` uses a marshal/unmarshal strategy to return a strongly typed result from an REST API call that returns a collection like `/_apis/graph/groups`

https://github.com/microsoft/azure-devops-go-api/blob/47715c5e3aa127871321d18bb438712caa65dca9/azuredevops/client.go#L326

With employing the  GO reflect package, especially the [`StructOf`](https://golang.org/pkg/reflect/#StructO

[2019-10-21 13:58] tmeckel commented on #33
@tedchamb  is it possible to change the signature of the CreateUser method as follows (making parameter `args` generic)?

[code]

and then checking in the method body for valid struct types?

[2019-10-22 14:43] tedchamb commented on #34
Thanks @tmeckel!  I appreciate the feedback.  I will look into it.

[2019-10-28 13:42] tedchamb commented on #19
Thanks for the info/feedback @mcdafydd.  Based on the information you provided, I think it makes the most sense to keep things as they are.  I am closing this issue for now, and we can reopen if a compelling alternative pops up.

[2019-10-28 13:42] #19 closed

[2019-11-08 18:22] tmeckel commented on #33
@tedchamb I checked the implementation of the `IdentityClient` at https://github.com/microsoft/azure-devops-go-api/blob/273e55a7119a766faedd7a951bc1894171f89bd9/azuredevops/identity/client.go#L158 but the GUID is no more listed in the API endpoint which could be downloaded via the  `_apis` endpoint. So the `IdentityClient` will yield a `LocationIdNotRegisteredError` from here https://github.com/mi

[2019-11-14 11:45] mikaelkrief opened #37 "Missing build/authorizedresources"
Missing build/authorizedresources sdk client and model

[2019-11-14 11:48] #37 closed

[2019-11-25 15:53] marcello-mirenda opened #38 "GetWorkItems has a bug - 'definitions' in place of 'ids'"
In this line https://github.com/microsoft/azure-devops-go-api/blob/59979e61bcc4eba58663cff5ae2aa120a9b84c35/azuredevops/workitemtracking/client.go#L2250

the code should be
`queryParams.Add("ids", listAsString)`

[2019-11-25 18:47] tedchamb commented on #38
Thanks for reporting, I will take a look.

[2019-11-25 19:12] tedchamb commented on #38
Fixed in #39

[2019-11-25 19:15] #38 closed

[2019-12-06 14:01] tmeckel commented on #33
@tedchamb as we have the same issue with creating Groups via the Graph API I wanted to use the `CreateGroups` function from the `Indentity` API.  The following structure must be passed as argument to `CreateGroups`

[code]

But because an `interface{}` is used as type for the `Container` struct element and there's no further description on this, I'm unable to use the `CreateGroups` method.

[2019-12-11 18:35] jessemillar opened #40 "User @ Mentions"
If I use the in-browser GUI editor to create or modify a DevOps wiki page, I can @ mention a user (e.g. `@Jake Pearson`) and it makes a link to their account and sends them an email notification. When I manually pull down the Git repo that represents the wiki, I can see the raw user ID (e.g. `@<1601DE0C-4613-60D7-A201-537155816713>`) instead of the @ mention in the created wiki page implying that

[2019-12-11 20:18] tedchamb commented on #40
@jessemillar , you can find some information in this api in the official [REST docs](https://docs.microsoft.com/en-us/rest/api/azure/devops/wiki/pages/create%20or%20update?view=azure-devops-rest-5.1), although I don't think it covers this scenario.  I recommend using [Fiddler](https://www.telerik.com/fiddler) to capture REST traffic while doing the operation using the web browser.  This should giv

[2019-12-12 16:43] mikaelkrief opened #41 "Provide sample code service endpoint azureRm"
Can you provide a sample code for create an Azure RM service point

[2019-12-13 13:34] tedchamb commented on #41
Sorry Azure Resource Manager is not covered by this SDK.   This SDK is a wrapper around all the [Azure DevOps REST APIs](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.1).

[2019-12-13 13:34] #41 closed

[2019-12-13 13:36] mikaelkrief commented on #41
Yes I know, I want to create a service connection in AzDo for Azure RM for use it in pipeline to deploy in Azure.

[2019-12-13 20:14] tedchamb commented on #41
@mikaelkrief , have you looked at the REST documentation here:

https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints?view=azure-devops-rest-5.1

[2019-12-14 06:03] exocom opened #42 "distributedtask/tasks is missing from API documentation and from taskagent.Client"
Hello, I'm currently working on the [microsoft/terraform-provider-azuredevops](https://github.com/microsoft/terraform-provider-azuredevops) plugin and I'm looking for a way to convert the name of a task into the taskId.

Unfortunately the api, release.WorkflowTask.TaskId, requires a uuid and doesn't support using taskName in-lieu of uuid or a property taskName. I tested this with Postman to confir

[2019-12-14 17:13] tmeckel opened #43 "Struct GraphGroup does not export isDeleted property"
While authoring acceptance tests for the Azure DevOps Terraform provider I discovered that `type GraphGroup struct` does not export the `isDeleted` property.

![image](https://user-images.githubusercontent.com/14177833/70852000-8c8cf180-1e9c-11ea-9295-7797b2141d16.png)

The acceptance test requires a check if a created group has been removed (deleted) by the destroy operation of Terraform. The iss

[2019-12-14 18:58] mikaelkrief commented on #41
@tedchamb , but I will be interressed to have a sample for azurerm service end point, for implement in the Terraform AzureDevOps provider https://github.com/microsoft/terraform-provider-azuredevops

[2019-12-15 04:53] exocom commented on #42
I was able to determine that the C# library already supports this endpoint via [GetTaskDefinitions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.teamfoundation.distributedtask.webapi.taskagenthttpclientbase.gettaskdefinitionasync?view=azure-devops-dotnet#Microsoft_TeamFoundation_DistributedTask_WebApi_TaskAgentHttpClientBase_GetTaskDefinitionAsync_System_Guid_System_String_System_Collecti

[2019-12-18 18:35] tedchamb commented on #43
@tmeckel , the team that owns this REST area has marked that property as for `InternalUseOnly`, so the generator ignores it.   Your best bet is to ask the team directly what the best way is to get the data you are looking for.

You can post questions to them here:
https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/?view=azure-devops-rest-5.1

[2019-12-26 17:17] iRichLau opened #44 "Creating a new build definition with trigger"
With postman I am able to create a new build definition with a trigger with the following:
""triggers": [
        {
            "branchFilters": [
                "+refs/heads/master"
            ],
            "pathFilters": "",
            "batchChanges": true,
            "maxConcurrentBuildsPerBranch": 1,
            "triggerType": "continuousIntegration"
        }
]"

But with the go api. I a

[2019-12-26 22:17] iRichLau commented on #44
I can confirm that it is missing the triggerType field from the ContinuousIntegrationTrigger struct. With the current implementation it is impossible to create a Trigger as none of them have the triggerType field. I had to create my own Trigger struct and added the triggerType field for it to work.

[2019-12-29 10:20] tmeckel commented on #43
@tedchamb As explicitly stated in the documentation, a group is returned by the REST API even if it has been deleted.

![image](https://user-images.githubusercontent.com/14177833/71555407-4901be00-2a2c-11ea-8dbd-4653594b5db7.png)

For this reason, the flag `isDeleted` exists to indicate whether the group has already been deleted and thus the caller is able to detect a deleted group. In the current

[2019-12-30 19:18] tedchamb commented on #43
@tmeckel, it may be a bug.  See my comment above, on how to contact the team that owns the api.  They are the ones that will need to fix this in the Azure DevOps code, before the generator will generate this property in both the Go SDK and the documentation.  I will also try and contact the team directly, but posting issues in the link I sent above is the correct way to report this issue to them.

[2019-12-30 21:44] tedchamb commented on #34
@tmeckel, thanks for your contribution!

[2019-12-30 21:44] #34 closed

[2019-12-31 09:36] tmeckel commented on #43
@tedchamb Okay, let's tackle this from both side then 😏

[2020-01-02 19:36] tedchamb commented on #42
This is similar to the case in #43.  The owning team has attributed `GetTaskDefinitions` and `GetTaskDefinitionsAsync` as `[InternalUseOnly]`, which tells the client generator to skip these methods.  I will contact the team to see if they can shed some light on how customers should get the task id.

[2020-01-06 05:46] harshit283 commented on #40
@jessemillar Ideally linking should happen for @mentions while using the Wiki Rest Api.
Please note that you should use @GUID  instead of @person-name syntax.
Also make sure that the GUID you are using is valid, we can verify validity of GUID by inserting it into a wiki page and checking if the expected @person-name appears in the preview. If you are still viewing the raw Guid then that Guid might

[2020-01-08 15:34] praneetloke opened #45 "QueueBuild requires a non-nil Build even when sourceBuildId is specified"
Just as the title says, the function `Build.QueueBuild` requires a non-nil `Build` property in the `BuildArgs` parameter even when a non-nil `sourceBuildId` is specified. I can work around it by passing a pointer to an empty struct, but it shouldn't be needed.

As a side note, I don't know where to open this issue, but the Queue API doesn't seem to work at all. I always get an error response "item

[2020-01-09 16:19] dipndawtz opened #46 "Release Definitions data not populating"
I'm trying to retrieve the environments/variables of a release definition using this thin wrapper. When I run the GetReleaseDefinitions function I get the details I'm expecting back like name, id, revision, but it seems like most of the more detailed information is nil. I can confirm using the URL that it returns that the Environment map and variables map both have data in them but both come back

[2020-01-10 09:51] tmeckel opened #47 "BUG: Unable to deserialize JSON to SecurityNamespaceDescription"
Currently it's not possible to use the [Security Namespaces - Query](https://docs.microsoft.com/en-us/rest/api/azure/devops/security/security%20namespaces/query?view=azure-devops-rest-5.1) REST method, because the JSON deserializer isn't able to convert the received JSON structure into the corresponding GO struct `SecurityNamespaceDescription`.

An error is issued that the received `SeparatorValue

[2020-01-13 08:50] tmeckel commented on #42
@tedchamb well it's kind of similar to my issue #43 ... it's not really similar because as @exocom mentioned the C# client implementation **does** support the function in question, where as the property `isDeleted` isn't available in the C# client library. So I think the tagging `[InternalUseOnly]` isn't honored by call client library maintainers 😁 and quite apart from that, I think it's an _odd_

[2020-01-29 10:02] bvwells opened #51 "Use semantic versions"
It would be great if you could start using semantic versioning for the azuredevops module. (i.e. tag the repo with azuredevops/vx.x.x).

At the moment consumers have to import the module using a commit hash such as:

	github.com/microsoft/azure-devops-go-api/azuredevops v0.0.0-20191230214132-3cd87c562d09

It would be great to have a strong story around versioning.

Thanks,
Ben

[2020-02-06 09:38] ligurio opened #52 "It is not possible to use custom HTTP client with requests to Azure Devops"
I'm using Azure Golang SDK and want to use custom HTTP client to access to Azure Devops.
As far as I understand it is not possible now. Please provide such ability.

[2020-03-09 20:03] bvwells opened #53 "Missing fields on git.IdentityRefWithVote"
The model git.IdentityRefWithVote defined here

https://github.com/microsoft/azure-devops-go-api/blob/3cd87c562d09a2ef1ea84ed42e659cec59c4f2a1/azuredevops/git/models.go#L2296

is missing various fields. For reference,

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20request%20reviewers/create%20pull%20request%20reviewer?view=azure-devops-rest-5.1#identityrefwithvote

It would be

[2020-03-09 20:05] bvwells commented on #53
Was thinking of raising a PR, but I guess https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/git/models.go is auto-generated...

[2020-03-10 19:02] tedchamb commented on #53
Yeah the model code is auto-generated, so any fix needs to be made on the code generator.  I'll have a look when I get a chance.

[2020-03-11 06:51] xuzhang3 opened #54 "response should include response code"
When I get the response from backend service, the HTTP status code does not exist. I don't know if the resource does not exist or the service is unavailable.
As client , different HTTP status code will show different behaviors.

[2020-03-11 17:03] tedchamb commented on #54
If the rest call returns an error, It will typically be a [`WrappedError`](https://github.com/microsoft/azure-devops-go-api/blob/3cd87c562d09a2ef1ea84ed42e659cec59c4f2a1/azuredevops/models.go#L110), which contains the status code.  If it's not a `WrappedError`, then it will be one of a few other types of errors that should contain more information about what the issue is.  Other Error types are co

[2020-03-11 17:58] tmeckel commented on #53
@tedchamb same with my bug #47 would be great if you could fix that at the same time

[2020-03-14 10:50] xuzhang3 commented on #54
The  ```WrappedError.ErrorCode```  here seems can solve my problem,  where can I find the ```ErrorCode``` definition.  In my scenario, I got returned ```WrappedError``` with error message ```Identity not found with``` and ```ErrorCode=0```, but I'm not sure if ```ErrorCode=0``` represent resource not found.

[2020-03-14 14:17] tmeckel commented on #47
@tedchamb Would you be able to fix this bug in a timely manner, as my pull request to the Azure DevOps provider for management of security settings cannot be merged until this bug is fixed here!

https://github.com/microsoft/terraform-provider-azuredevops/pull/238

[2020-03-16 14:23] tedchamb commented on #54
`ErrorCode=0` means there was no error code reported.   Take a look at the Status Code if it was set.
Not all exceptions set all values.

[2020-03-20 16:46] mybayern1974 commented on #54
hi @tedchamb , I'm in the same engineering team with xuzhang3. I'd like to clarify our contexts to serve you better possibly help us: From ADO Go API response here, **_we need to programmatically distinguish ado-resource-not-exist from other error situations and normal  situations_**. Generally we expect to receive 404 but right now seems the current implementation is not like that. So could you p

[2020-03-24 16:20] nmiodice commented on #54
Is it the case that we should be using the `StatusCode` field? https://github.com/microsoft/azure-devops-go-api/blob/3cd87c562d09a2ef1ea84ed42e659cec59c4f2a1/azuredevops/models.go#L119

[2020-03-25 07:06] xuzhang3 commented on #54
It  would be better if the status code is returned, otherwise if Ted can provide the definition of ```ErrorCode``` and ```StatusCode``` defined in ```WrapperError```  we can also solve this problem.

[2020-03-25 12:24] tedchamb commented on #54
Sorry for the slow reply, I have a new job, and have been busy ramping up there.  The `ErrorCode` is a unique number for the specific error that makes it easier for users to do a web search to look up the issue.  `StatusCode` is meant to be the actual http status code.  Currently we are only setting it in some conditions.  It looks like we need to also set it here:

https://github.com/microsoft/az

[2020-03-25 23:35] StiviiK opened #55 "Run pipeline, RunParameters seem to get ignored"
Hi, I'm trying to trigger a pipeline based on a special Ref and Version, but it seems that these values get ignored, the pipeline always runs on the latest master.
I'm using the following code:
[code]
Am I doing something wrong?

[2020-03-26 13:07] StiviiK commented on #55
Figured it out, you must use `self` instead of repoName.

[2020-03-26 13:07] #55 closed

[2020-03-30 02:25] #54 closed

[2020-03-31 11:26] siddharthprakash01 opened #57 "Create Push API body has missing GitChange struct in Golang documentation"
Docs: https://godoc.org/github.com/microsoft/azure-devops-go-api/azuredevops/git#GitCommitRef
POST https://dev.azure.com/{organization}/{project}/_apis/git/repositories/{repositoryId}/pushes?api-version=5.1
The Create Push API above has GitCommitRef as one of the structs to pass in request body.
The documentation mentions GitChange as one of the fields in GitCommitRef.
However, in the go docs, Git

[2020-04-06 11:54] tiwood commented on #47
@tedchamb, friendly reminder.

We have a few pull requests ready, which require this "bug" fixed.

[2020-04-27 16:27] nmiodice opened #58 "Unable to create KeyVault backed variable group due to typing issues"
When creating a KeyVault, we need to work with the [following struct](https://github.com/microsoft/azure-devops-go-api/blob/543de4815ec27be371a10b39b6750005d6c34a6c/azuredevops/taskagent/models.go#L2480-L2503). I'm showing an abridged version here:

[code]

For most variable groups there is no problem. However, when creating a KeyVault backed variable group, the strict typing can become a challeng

[2020-04-27 16:27] nmiodice commented on #58
cc @EliiseS

[2020-04-27 17:54] nmiodice commented on #58
Related issue in developercommunity.visualstudio

https://developercommunity.visualstudio.com/content/problem/1009010/-go-sdk-unable-to-create-keyvault-backed-variable.html

[2020-04-28 19:31] nmiodice opened #59 "policy.CreatePolicyConfiguration fails with error when trying to unmarshall response from azdo"
The API call for `CreatePolicyConfiguration` fails with the error described below. My investigation leads me to believe that the error is occurring during the response unmarshalling phase.

**API call**
https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/policy/client.go#L26

**Sample code**
[code]

**Error Response**
[code]

**Investigation**
This is similar to the issue raised

[2020-04-28 19:39] tmeckel commented on #59
@nmiodice just wrote @mozehgir an email about the situation here with the GO API. I've the impression that nobody really maintains the GO API, because @tedchamb got assigned to another job and thus the GO API is kinda abandoned.

Especially #47 prevents us from implementing ANY kind of support for permission related stuff in the Terraform provider. That's why my own PR https://github.com/microsoft

[2020-04-28 19:47] nmiodice commented on #59
:/

[2020-04-28 20:29] nmiodice commented on #59
Related issue in developer community: https://developercommunity.visualstudio.com/content/problem/1010676/policycreatepolicyconfiguration-fails-with-error-w.html

[2020-04-29 14:04] tedchamb commented on #59
I am working with Azure DevOps leadership to find a team to pick up maintenance of the SDK going forward.  In the meantime, if I can carve out some free time outside of work, I will do a sweep of the open issues and fix what I can.

Until these issues get addressed, I recommend the following:
1. Keep submitting issues you find to this repo
2. fork the repo so you can make your own fixes and tweaks

[2020-04-29 18:13] tmeckel commented on #59
@tedchamb I think all people working on the Terraform Provider for Azure DevOps are really appreciate your willingness to work on the DevOps GO API aside your normal job as long as no new maintainer has been found!!!! As I mentioned above I'm in contact with @mozehgir, who's the new Program Manager for the Azure DevOps Provider, and I suggested that he takes the DevOps GO API under his oversight a

[2020-04-29 20:40] mozehgir commented on #59
Let me look in to this and get back to all of you.

[2020-05-04 21:06] nmiodice commented on #59
FYI I've implemented a PR @tedchamb @mozehgir

https://github.com/microsoft/azure-devops-go-api/pull/60/files

[2020-05-06 14:36] tedchamb commented on #51
@bvwells , sorry about that.  This should be fixed now.

[2020-05-06 19:00] bvwells commented on #51
@tedchamb thanks for looking at this, but unfortunately it is still not possible to use semantic versions of the repo when importing.

As the module file (go.mod) is not at the root of the repo, the git tags have to be of the form 'azuredevops/vx.x.x'. Here the prefix 'azuredevops' in the git tag refers to the path to the module within the git repo.

https://github.com/golang/go/wiki/Modules#publi

[2020-05-06 19:06] bvwells commented on #51
Also, note that the git tag has to have a 'v' in front of the version to work correctly. The only git tag I could find is '1.0.0b1' which would have to be of the form 'azuredevops/v1.0.0b1' to work correctly.

Is it possible to reopen this issue please?

[2020-05-06 22:01] tedchamb commented on #51
@bvwells, I have added the `v` and the `-`:

https://github.com/microsoft/azure-devops-go-api/releases/tag/v1.0.0-b1

let me know if that doesn't work for you.

[2020-05-06 22:29] bvwells commented on #51
@tedchamb - thanks for updating. Still not quite working as the semantic version is not quite right.

The tag 'azuredevops/v1.0.0b1' should be 'azuredevops/v1.0.0-b1'.

[2020-05-07 12:38] tedchamb commented on #51
@bvwells, the tag I added yesterday that I thought should work was [`v1.0.0-b1`](https://github.com/microsoft/azure-devops-go-api/releases/tag/v1.0.0-b1). This was based off the tag suggested by these articles:

https://semver.org/spec/v2.0.0.html
https://blog.golang.org/publishing-go-modules
https://dave.cheney.net/2016/06/24/gophers-please-tag-your-releases

Can you point me to the spec that has

[2020-05-07 13:33] bvwells commented on #51
@tedchamb the reference for this is the link I posted above:

https://github.com/golang/go/wiki/Modules#publishing-a-release

A tag of the form v1.0.0-b1 is only useful if there is a module defined at the root of the repo. In this repo there is no module so the tag doesn't really make sense for a module. This the normal setup for a module and is probably why most of the documentation does not ment

[2020-05-07 17:17] bvwells commented on #51
From the original vgo paper there is also this.

https://research.swtch.com/vgo-module#multiple-module_repositories

[2020-05-13 17:15] siddharthprakash01 opened #61 "Unable to add proxy settings while creating New Client"
There is no way to add proxy url settings in NewClient function.
https://pkg.go.dev/github.com/microsoft/azure-devops-go-api/azuredevops/?tab=doc#NewClient

[2020-05-13 19:02] tedchamb commented on #61
Here is an example of how you can set a proxy:

[code]

[2020-05-14 13:42] tedchamb commented on #51
@bvwells , thanks for the info. Sorry for the slow response.  I have added the tag with the prefix `azuredevops/v1.0.0-b1`.  Can you try it now?  If that doesn't work for you, I can dig deeper next week, as I have some other time sensitive work to do this week.  Thanks for your patience.

https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv1.0.0-b1

[2020-05-14 14:21] bvwells commented on #51
@tedchamb thanks very much for taking another look at this and no worries about response time. I've had conversations on issues over years in the past so this is pretty good! :-)

It is now working perfectly!

$ go get -v github.com/microsoft/azure-devops-go-api/azuredevops
go: github.com/microsoft/azure-devops-go-api/azuredevops upgrade => v1.0.0-b1
go: downloading github.com/microsoft/azure-devo

[2020-05-14 14:45] tedchamb commented on #51
excellent!  I will close this issue it out then.

[2020-05-14 14:45] #51 closed

[2020-05-14 15:02] tedchamb commented on #59
@nmiodice , if this property is returning a date that is not in the standard format, then it is a service side bug.  That doesn't mean we can't create a work around, but the longterm fix is to fix the api.

[2020-05-14 15:06] bvwells commented on #51
@tedchamb, thanks for all your help!

[2020-05-14 15:47] nmiodice commented on #59
@tedchamb I agree. I was "instructed" to create an issue here - https://developercommunity.visualstudio.com/content/problem/1010676/policycreatepolicyconfiguration-fails-with-error-w.html

Is there a better way to submit the bug?

[2020-05-16 14:34] #61 closed

[2020-05-16 23:49] nmiodice commented on #59
I'll test this early next week and let you know if the fix merged in works for the API we are using. Thanks @tedchamb!

[2020-05-17 14:06] C123R opened #67 "[feature] Add new resource feedrecyclebin in packaging area."
Currently `azure-devops-go-api` doesn't support [Permanent deletion](https://docs.microsoft.com/en-us/rest/api/azure/devops/artifacts/feed%20recycle%20bin/permanent%20delete%20feed?view=azure-devops-rest-6.0) of feeds from recycle bin.

I just realized that `azure-devops-go-api` is using a code generator. Hence just creating a feature request. It would be great if we add support for `feedrecyclebi

[2020-05-17 17:35] tedchamb commented on #44
@iRichLau , thanks for reporting this issue.  It has been fixed in PR #68, and is in the following release:

https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv5.1.0-b1

[2020-05-17 17:35] #44 closed

[2020-05-17 17:36] tedchamb commented on #53
@bvwells , thanks for reporting this issue. It has been fixed in PR #66, and is in the following release:

https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv5.1.0-b1

[2020-05-17 17:36] #53 closed

[2020-05-17 17:38] tedchamb commented on #47
@tmeckel, thanks for filing this issue, and thanks for your patience with the slow turn around on the fix.  The issue has been fixed by PR #64, and is available in the following release:

https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv5.1.0-b1

[2020-05-17 17:38] #47 closed

[2020-05-17 17:39] tedchamb commented on #59
@nmiodice , sorry again for the slow turn around on this.  It should be fixed now.  If you have any issues with the fix, let me know.

PR #65
Release: https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv5.1.0-b1

[2020-05-17 17:39] #59 closed

[2020-05-17 17:41] tedchamb commented on #57
@siddharthprakash01 , thanks for filing this issue.  It has been fixed in PR #68, and is in the following release:

https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv5.1.0-b1

[2020-05-17 17:41] #57 closed

[2020-05-17 17:59] tedchamb commented on #46
@dipndawtz , this is due to a very common pattern used by the AzureDevOps REST endpoints.  Many times when you get a list of resources, the data on those resources are sparsely populated.  This is done to reduce the response size.  Once you have the list of definitions, you can then call then call the `GetReleaseDefinition` method to get the full definition details for the ones you care about.

Yo

[2020-05-17 17:59] #46 closed

[2020-05-17 18:09] bvwells commented on #53
Thanks, I'll give it a go. I suspect the v5 tag will cause an issue as the go module is not defined as v5...

[2020-05-17 18:10] tedchamb commented on #45
@praneetloke , thanks for reporting these issues.  The `QueueBuild` operation performs a `POST` REST request.  `POST` requests require a body.  For `QueueBuild` the body is the `Build` property.

See doc here: https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/queue?view=azure-devops-rest-5.1

You can make a report about the Queue API bug you found by filing an issue here:
https:/

[2020-05-17 18:10] #45 closed

[2020-05-17 18:20] tmeckel commented on #47
@tedchamb Awesome!! Many thanks having this nasty bug finally fixed!!!

[2020-05-17 19:17] tedchamb commented on #53
@bvwells , thanks for the heads up on the v5 issue.  I will fix this. Still not used to all the go module rules.

[2020-05-18 12:05] tedchamb commented on #53
I added a new release under v1, while i fix the v5 issue:
https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv1.0.0-b2

[2020-05-18 16:02] nmiodice commented on #59
I wanted to circle back and confirm that this issue is resolved:

[code]

[2020-05-18 17:37] bvwells commented on #53
Thanks @tedchamb!

[2020-05-18 19:37] tedchamb commented on #52
@ligurio , can you provide more detail on what you are trying to do?

[2020-05-18 19:39] tedchamb commented on #67
Yes, we will need to generate a 6.0 version of the SDK to get those.

[2020-05-18 19:40] #40 closed

[2020-05-18 19:46] ligurio commented on #52
@tedchamb I'm trying to access to hosted Azure Devops instance with custom SSL certificates. I don't know how to explain in terms of security. Probably my company uses their own SSL PKI and internal sites uses certificates from it.

[2020-05-18 19:51] tedchamb commented on #42
The two c# methods are marked `[EditorBrowsable(EditorBrowsableState.Never)]`, so while they are technically in the C# client, they are hidden.   The c# documentation you are looking at was either generated before they were marked this way or there is a bug in the documentation generator.  Either way they have intentionally hidden these methods, which means there is a better way to get the same in

[2020-05-18 19:51] #42 closed

[2020-05-19 05:59] siddharthprakash01 commented on #61
os.Setenv applies for all APIs in the project.
I have attempted to exclude other APIs by adding os.Setenv("NO_PROXY", "url1,url2,url3").
Is it possible to set only for Azure client ?

[2020-05-19 13:33] tedchamb commented on #58
Fixed in this release:
https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv1.0.0-b3

[2020-05-19 13:33] #58 closed

[2020-05-29 21:02] nmiodice commented on #43
Unfortunately the developer community issue has been closed :/ cc @mozehgir

[2020-05-30 09:28] tmeckel commented on #43
@nmiodice thank you for commenting on this issue on the developer community site for Azure DevOps. Perhaps @mozehgir and you (perhaps @tedchamb as well?) might talk to someone in the product group to get them convinced that the current situation isn't ideal for people using the API. I think I made my position clear this in my older comments here.

[2020-06-04 10:01] C123R commented on #67
@tedchamb Friendly reminder, as my pull request to the `terraform-provider-azuredevops` kinda depends on this:

microsoft/terraform-provider-azuredevops#306

[2020-06-11 21:51] pec1985 commented on #52
+1

[2020-06-30 12:20] tmeckel commented on #52
I filed a pull request #49 long ago which could easily be expanded to have the ability to set configuration options on the HTTP client.

[2020-07-06 12:08] artbegolli opened #76 "create branch request"
I can't seem to find CreateBranch functionality in this api, am I missing something? Do I instead need to conduct a git push?

[2020-07-08 08:59] artbegolli commented on #76
Documented here - branch is created on initial push.

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pushes/create?view=azure-devops-rest-5.1#initial-commit-(create-a-new-branch)

[2020-07-08 08:59] #76 closed

[2020-07-08 09:04] artbegolli opened #77 "git commit changes typing"
I'm trying to update a few files in ado and following this example https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pushes/create?view=azure-devops-rest-5.1#update-a-file

I'm curious as to why the `changes` field isn't fully typed and is set as `[]interface{}` instead?

[2020-07-15 18:40] artbegolli commented on #52
@tmeckel So I've looked at adding options to enable you to use a custom http client as well as retry based on your implementation.

My conern is that to allow a user to set custom settings or options with `NewClientWithOptions` function all the auto-generated clients (e.g. git, build, core etc.) must also support the ability to pass in options.

The actual call to NewClient is nested through a few

[2020-07-15 19:22] artbegolli commented on #52
PR #78

[2020-07-31 02:42] kpfaulkner opened #79 "Create Pipeline"
Hi

I'm trying to create a pipeline (well strictly speaking, clone a pipeline for backup purposes).
I can 'get' the a pipeline easily enough, has all my build steps, variables etc etc..  and I want to try and recreate the pipeline elsewhere. All of this is for backup/restore purposes.

My problem is the pipelines.CreatePipeline() function.  The CreatePipelineArgs doesn't seem to have much in it. T

[2020-08-01 05:48] raboley commented on #79
Was wondering if writing my pipelines in go was possible and based on this issue that seems to be most likely not true. Is that correct?

[2020-08-03 06:22] bcho opened #80 "Incorrect value for azuredevops.Time in query parameter"
Hi we found that in [api: `BuildClient.GetBuilds`](https://github.com/microsoft/azure-devops-go-api/blob/0eaf2fc4ab76634f0b91a6c48494ad237e34e32e/azuredevops/build/client.go#L1527), the time value in parameter is incorrect:

[code]

expected value should be formatted with RFC3339:

[code]

[2020-08-03 06:43] bcho commented on #80
Also found multiple places which usage like:

[code]

I propose we add a new method call `AsQueryParameter()` to `auzredevops.Time` and convert usages like this to this new method.  @tedchamb  What do you think?

[2020-08-03 09:20] beandrad opened #82 "Allow to grant or deny service connection access to pipelines"
At the moment is not possible to update the pipeline access permissions to service connection using this SDK.

The endpoint to do so is the following:

[code]

This new method could be added in https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/pipelines/client.go.

[2020-08-04 03:59] kpfaulkner commented on #79
@raboley Currently unsure. No success myself... was hoping someone at MS might be able to answer the question here.

[2020-08-10 03:27] t0rr3sp3dr0 opened #85 "Missing Task Agent Methods"
Some methods of the task agent client that are available on the Node API are missing on the Go API:
- CreateAgentSession: https://github.com/microsoft/azure-devops-node-api/blob/dcf730b1426fb559d6fe2715223d4a7f3b56ef27/api/TaskAgentApiBase.ts#L5481
- DeleteAgentSession: https://github.com/microsoft/azure-devops-node-api/blob/dcf730b1426fb559d6fe2715223d4a7f3b56ef27/api/TaskAgentApiBase.ts#L5522
-

[2020-08-11 01:57] raboley commented on #79
I switched to just writing a go cli tool that holds all business logic, and then my pipeline just installs and runs commands from that tool to minimize the logic embedded in the pipelines.

[2020-08-11 05:48] xuzhang3 opened #86 "Support Environments API"
v6.0 supports environments API. current SDK support version  is v5.1.
[Environments API](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/environments?view=azure-devops-rest-6.0)

[2020-08-23 22:20] tedchamb commented on #80
#89

[2020-08-23 22:23] #80 closed

[2020-08-23 22:28] tedchamb commented on #80
https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv1.0.0-b5

[2020-09-29 09:56] aleqsss opened #90 "[feature] Add new taskagent resource functionality"
It seems like the azure-devops-go-api doesn't support [TaskAgentPoolOptions](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/pools/add?view=azure-devops-rest-6.0#taskagentpooloptions), from version 6.0 and ongoing, of the Azure DevOps REST API.

As of my understanding, the azure-devops-go-api is using an internal tool/code generator ([genclient](https://dev.azure.com/mseng/A

[2020-09-29 09:59] aleqsss commented on #67
@tedchamb, if you're about to generate a new version of the SDK, would the desired functionality of the #90 be implemented as well?

[2020-10-23 15:26] jamiemccrindle opened #91 "Missing timeout field on CheckConfiguration in pipelineschecks"
CheckConfiguration in pipelineschecks models.go is missing the field timeout of type int.

[2020-11-16 10:15] aleqsss commented on #90
@tedchamb what do you say about this? 🙂

[2020-11-19 14:41] GitHubJens opened #92 "GetReleaseDefinition fails when using scheduled days"
When using this config in Azure DevOps:
![bilde](https://user-images.githubusercontent.com/30659197/99678572-3dbbe480-2a7b-11eb-9227-bb3a3d1058bd.png)

**We get this error:**
"json: cannot unmarshal number into Go struct field ReleaseSchedule.environments.schedules.daysToRelease of type release.ScheduleDays"

**Returned from:**
releaseDefinitionObject, err := releaseClient.GetReleaseDefinition(ctx

[2020-11-19 17:21] simongottschlag opened #93 "Support for Azure DevOps Service API version 6.0"
Hi!

I would like to know what the plans are for the api version 6? Is there anything that someone from outside of Microsoft can do to help?

Regards,
Simon

[2020-12-01 20:35] jpm63 opened #94 "Support for Obtaining Job Requests By Pool"
We have a use case where we need to get a list of all jobs - currently executing or queued for future execution - in a pool on a by-pool basis. We found the following route which provides this information: ```/distributedtask/pools/{poolId}/jobrequests```. This appears to return a collection of ```TaskAgentJobRequest```, which is defined in [azuredevops/taskagent.models.go](https://github.com/micr

[2020-12-08 12:49] C123R commented on #67
microsoft/terraform-provider-azuredevops#50

[2020-12-08 14:32] EliiseS commented on #67
@xuzhang3 Is there a timeline for this feature?

[2020-12-09 05:20] xuzhang3 commented on #67
Hi @EliiseS I don't know, I have contacted service team about  when they  will release the v6 SDK,  no response yet.

[2021-01-11 21:45] avishnyakov commented on #86
Team, did you have ideas on what this can be implemented? This feature will power related Terrsform Azure devops environment resource, would be really great to have it.

[2021-01-12 13:53] jpm63 commented on #94
@tedchamb any thoughts/input on this?

[2021-01-21 19:24] richardgavel commented on #93
It seems that these client and model .go files are generated, according to the existing files. Is there something blocking keeping it up to date?

[2021-01-29 15:11] aleqsss commented on #93
@richardgavel where does it seem like these are updated? Do you mean somewhere else outside of this repository?

If you look at the [taskagent](https://github.com/microsoft/azure-devops-go-api/tree/09c8cad426a653fc76cdbfb915d3d11114b4d8e8/azuredevops/taskagent) [client.go](https://github.com/microsoft/azure-devops-go-api/blob/09c8cad426a653fc76cdbfb915d3d11114b4d8e8/azuredevops/taskagent/client.go

[2021-01-29 15:21] yene opened #95 "GetAllWikis 401"
[code]
gives me a 401 but the other APIS GetRepositories and GetProjects work.
What am I missing here?

[2021-01-29 15:58] richardgavel commented on #93
@aleqsss Those are exactly what I am referring to, all the core files within the GO SDK have comments that they are files generated of "something". If you look at another binding, like Node/TS, its generated as well (https://github.com/microsoft/azure-devops-node-api/blob/master/api/ReleaseApi.ts), which is at 6.0-preview.1. So for Go, we're just waiting for someone to actually **run** the generat

[2021-01-29 16:01] aleqsss commented on #93
If you look at my created issue #90, you can see that I ask them to run this generation. 🙂 Hopefully someone will take action upon this soon, it has been lying around there for some time now.

[2021-01-29 16:05] aleqsss commented on #93
@richardgavel FYI

As a reference, I've also got the issue [Agent Pool - Azure virtual machine scale set #204](https://github.com/microsoft/terraform-provider-azuredevops/issues/204) open in the [terraform-provider-azuredevops](https://github.com/microsoft/terraform-provider-azuredevops/issues/204) repository.

[2021-01-29 16:56] nmiodice commented on #95
Does your personal access token have the `wiki::read` permission?

![image](https://user-images.githubusercontent.com/2497673/106304119-3140ce80-6218-11eb-82fe-19be206e0ee3.png)

[2021-02-01 07:30] yene commented on #95
Thanks I will try, I thought it was a subset of the Git permissions.

[2021-02-01 07:30] #95 closed

[2021-02-02 10:54] avishnyakov commented on #86
Hello. This repository looks abandoned, no one seems to looks after tickets in 22 days or even since august 2020.

cc @tedchamb

[2021-02-03 10:44] FernandoMiguel opened #96 "[Feature Request] Default branch name for new repositories API"
### Description
API endpoint to "Default branch name for new repositories" and choose the branch name ("main" or other)

![image](https://user-images.githubusercontent.com/168366/106735782-90358780-660c-11eb-959d-9ac649f8c199.png)

Require this from the GO SDK so it will be made available throughout terraform AzureDevOps provider
https://github.com/microsoft/terraform-provider-azuredevops/issues/2

[2021-02-11 16:55] phoenixx opened #97 "`ContinuationToken` type mismatch between `GetReleasesResponseValue` and `GetReleasesArgs`"
In the [release client.go](https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/release/client.go) file, the type for `ContinuationToken` differs between the `GetReleasesResponseValue` (which returns the continuation token as a `string`) and the `GetReleasesArgs` which takes the continuation token as an `*int`.

I can work around this by converting the string before continuing the

[2021-02-16 17:33] jchauncey opened #98 "Trigger pipeline run with typed parameters?"
Looking for a way to trigger a pipeline run where it has global typed parameters declared. We are thinking about moving our pipelines to this declaration style instead of using the UI driven variables section, however, we need the ability to trigger these pipelines from our automation. The CLI doesnt seem to support setting typed params so was hoping the go api did but `RunPipelineParameters` stru

[2021-02-22 04:01] summitdevops commented on #79
pipeClient.CreatePipeline is not working , i am getting following error and i dont see any Path parameter.
 Value cannot be null.
Parameter name: Path
exit status 1

@kpfaulkner  did you able to fix the issue?

[2021-02-22 18:17] gcaldeira opened #99 "Error when try download artifact"
Hi folks!

I could not retrieve the zip content file of an pipeline artifact

TF400813: The user '' is not authorized to access this resource.

`connection := azuredevops.NewPatConnection(cfg.Azdevops.OrganizationURL, cfg.Azdevops.AccessToken)
args := build.GetArtifactContentZipArgs{
  BuildId:      &id,
  Project:      &cfg.Azdevops.Project,
  ArtifactName: &artifactName,
}

artifact, err := buil

[2021-03-15 13:22] SilverknightMel opened #100 "RunPipeline is calling 5.1 preview API?"
hi,
Thank you for writing this API. I'm trying to write a terraform provider to call this API to run my pipeline. I have wrote my code (new Go learner) and then I realize your RunPipeline function is calling Azure devops API 5.1 preview ? while 6.0 is available?
resp, err := client.Client.Send(ctx, http.MethodPost, locationId, "5.1-preview.1", routeValues, queryParams, bytes.NewReader(body), "appl

[2021-04-16 14:20] aleqsss commented on #90
@xuzhang3 what do you say about this (in connection with https://github.com/microsoft/terraform-provider-azuredevops/issues/204) 🙂

[2021-04-16 17:01] simongottschlag commented on #90
@aleqsss I don't think we'll be getting updates for the Golang SDK anytime soon. I've already given up.

Maybe time to write our own, like they've done at Hashicorp for other Azure services?

MS Graph: https://github.com/manicminer/hamilton
Azure Storage: https://github.com/tombuildsstuff/giovanni

[2021-04-29 13:48] richardgavel commented on #100
You're running into the same issue a lot of other people are: https://github.com/microsoft/azure-devops-go-api/issues/93

[2021-05-07 09:15] aleqsss commented on #90
Perhaps @simongottschlag, but at least we've gotten information inside of [#204](https://github.com/microsoft/terraform-provider-azuredevops/issues/204), "that v6.x will be released but do not have the timeline".

[2021-06-25 10:54] joyciep commented on #52
Any updates here? We also need custom HTTP clients

[2021-07-05 08:34] michalg9 commented on #52
Any updates here? Seems quite some people are requesting this. There was a PR from @artbegolli making it possible to use custom http client (https://github.com/microsoft/azure-devops-go-api/pull/78) - it seems to be an extension of PR from @tmeckel (https://github.com/microsoft/azure-devops-go-api/pull/49) (thanks guys! 🙌). However, both of those PRs are closed and seem not to be included in the m

[2021-07-08 03:05] mvanderlyn27 commented on #93
Hello, Any update on this? Would be very helpful to be able to use the 6.0 API

[2021-07-20 12:01] lsibilla opened #101 "Authenticate using Bearer token"
Hi,

We are using this library through the terraform provider for provisioning Azure DevOps resources as part of our Infrastructure as Code approach. Essentially to provision service connections and variable groups.

In this context, pipelines are run in Azure DevOps that trigger terraform templates which in turn needs to authenticate to Azure DevOps.

It would be a great security and maintainabil

[2021-07-22 20:13] oliverisaac opened #102 "Implement Handling of Retry-After Header"
The client does not handle rate limiting correctly and should honor the Retry-After header:

https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rate-limits?view=azure-devops#recommendations

[code]

[2021-07-29 18:05] c-brooks commented on #52
Hello 👋 I've opened a pull request for a simple way to supply a custom HTTP Client in https://github.com/microsoft/azure-devops-go-api/pull/103. That PR should close this issue.

[2021-07-29 18:11] tmeckel commented on #52
@c-brooks good luck ... I closed my PR #49 here because the repo is definitely abandoned and does not get the care it deserves from Microsoft. So many issues have piled up here that it's kinda ridiculous.

[2021-07-30 20:20] a2m1 opened #104 "Support Build - General Settings"
Please add support for https://docs.microsoft.com/en-us/rest/api/azure/devops/build/general%20settings?view=azure-devops-rest-6.0

[2021-08-05 18:45] #52 closed

[2021-08-17 16:02] favoretti commented on #93
In the meantime there's API 6.1.. devops terraform provider could use a lot of extra functionality that's currently being blocked by a lagging SDK. Anyone?

[2021-08-18 13:25] tedchamb commented on #93
@goflores , let me know if you need help updating the sdk to 6.0, 6.1.  Shouldn't be much work.

[2021-08-24 19:01] favoretti commented on #93
@tedchamb I guess he's busy, would you be so kind to take a stab at it? Would be very much appreciated by a lot of people :)

[2021-08-24 19:24] goflores commented on #93
@favoretti Sorry, I sync'd with @tedchamb but didn't post an update here. We've gone through the work needed for the update and I'll be working to update the SDK to 6.0  and 6.1

[2021-08-24 19:29] favoretti commented on #93
Awesome news! Thanks so much!

[2021-09-08 07:29] LazarenkoA opened #107 "Copy work item"
Hello, is there an easy way to create a copy of a work item, or should I create a new element using the CreateWorkItem method and fill in all its fields by reading from the source element?

[2021-09-08 11:21] LazarenkoA commented on #107
need to create a copy with all the relations WI

[2021-09-09 10:45] LazarenkoA opened #108 "How to get information about the current users"
I log in using accessToken
[code]

can I get the information of the current account, namely, I need to get the UniqueName property, I could not figure out how to do this.

[2021-09-15 09:20] xuzhang3 commented on #93
@goflores Is there an ETA of v6.x SDK?

[2021-11-01 22:31] gabrielmccoll-rlg commented on #93
also very excited for this to happen, trying to setup ADO via Terraform and would love the extra functionality

[2021-11-04 19:03] richardgavel commented on #93
Just saw this in a consuming repo so hopefully there will be traction soon: https://github.com/microsoft/terraform-provider-azuredevops/issues/419#issuecomment-961283236

[2021-11-26 12:57] nechvatalp commented on #108
Hi,

not exactly sure what you mean by UniqueName but to get info about current account you can use something like this

`	locationClient := location.NewClient(ctx, connection)
	conData, _ := locationClient.GetConnectionData(ctx, location.GetConnectionDataArgs{})
	log.Printf("Display Name: %v", *conData.AuthorizedUser.ProviderDisplayName)`

[2021-11-30 12:26] LazarenkoA commented on #108
I can't find the `Get Connection Data' method, I'm using the version from dev

[2021-11-30 15:52] nechvatalp commented on #108
Hi,

it is in the `github.com/microsoft/azure-devops-go-api/azuredevops/location`

Here is minimal working sample

[code]

[2021-11-30 17:27] LazarenkoA commented on #108
if I use NewClient from the package `github.com/microsoft/azure-devops-go-api/azuredevops/workitemtracking` what to do then? I have a task to perform certain actions if the comment to WI (workitem) is from the current user (the user under whose token you logged in)

[2021-12-07 16:29] nechvatalp commented on #93
Hello everyone, new version with support for Azure DevOps API version 6.0 has been released.

You can get it using
`go get github.com/microsoft/azure-devops-go-api/azuredevops/v6`

Thank you for your patience.

[2021-12-07 16:29] #93 closed

[2022-01-26 10:07] carolwu-1206 commented on #80
The same issue is in v6, should anyone fix it?

[2022-02-14 22:31] favoretti opened #114 "Generate API v6.1"
Hi,

Since one of the very interesting features of AzDO Pipeline Environments (Approvals and Checks) is available in 6.1 only (along with a few other goodies) - would it be possible to generate v6.1 as well?

Thanks,
Vladimir

[2022-03-02 06:44] xuzhang3 opened #115 "Cannot create Variable Group"
Cannot create new variable group, failed with 401 unauthorized.
The request URL generated is: `https://dev.azure.com/<ORG>/_apis/distributedtask/variablegroups?api-version=6.0,` no project specified, if change the URL to `https://dev.azure.com/<ORG>/<projectNanme>/_apis/distributedtask/variablegroups?api-version=6.0`, the creation will success,  looks like the project ID in the request body(`varia

[2022-03-05 07:22] croemmich opened #116 "Cannot add Kubernetes resource"
https://github.com/microsoft/azure-devops-go-api/blob/00dac5c867394a3c5ca4e12b6965d7625a1588c6/azuredevops/v6/taskagent/client.go#L352

 provides no means of supplying a `serviceEndpointId`. This makes it impossible to use with out receiving a 500 from the server with:
[code]

<br/>
<br/>

The  `AddKubernetesResourceArgs`:
https://github.com/microsoft/azure-devops-go-api/blob/00dac5c867394a3c5ca4e

[2022-03-17 09:52] xuzhang3 commented on #116
@nechvatalp    Can you  fix this SDK bug? `serviceendpointId` is a  required parameter to  create environment kubenetes resources and cannot be ignored. For API `AddKubernetesResource` , the args should use `KubernetesResourceCreateParametersExistingEndpoint` instead of `KubernetesResourceCreateParameters`

[2022-03-18 09:23] #115 closed

[2022-03-22 14:49] ceciliasharp opened #118 "IsDisabled on GitRepository"
Since some operations aren't allowed on disabled repos, it would be good to have a status property on the GitRepository struct.

https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/v6/git/models.go#L1938

something like "IsDisabled" maybe?

This is what is showed in the Azure DevOps portal when the repo is disabled:

![image](https://user-images.githubusercontent.com/2370604/1595

[2022-03-27 07:47] theitalianz commented on #116
@croemmich / @xuzhang3  I get the same 500 if `serviceEndpointId` is omitted but where did you find it in the documentation?
I'm looking at https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/kubernetes/add?view=azure-devops-rest-6.0
but it is not mentioned in the request body 🤔

[2022-03-28 02:26] xuzhang3 commented on #116
@theitalian I get the request body by browser dev tools.

[2022-03-28 04:13] theitalianz commented on #116
@xuzhang3 sneaky! Ok, so docs needs to be update too seems like. Gonna create an issue there as well.

[2022-03-28 22:47] yradsmikham commented on #79
Agreed with all the above comments. `CreatePipeline` does not appear to be in a mature state as it is missing: `path`, `repository.id`, `repository.name`, and `repository.type`.

Here's a blog that covers it more in detail: https://blog.johnnyreilly.com/2021/05/08/create-pipeline-with-azure-devops-api

Any update on this?

[2022-03-30 02:28] xuzhang3 commented on #116
@theitalianz I didn't test all the ways to create it, from the swagger doc there should be 3 ways to create a new environment.

[2022-03-30 03:07] croemmich commented on #116
Thanks for taking a look at this @theitalianz and @xuzhang3!

[2022-03-31 06:02] ChandlerSwift opened #119 "Settings not included in return value from `GetCheckConfiguration`/`GetCheckConfigurationsOnResource`"
I'm attempting to retrieve the branches from a branch protection check on an environment. I can add the `Expand` parameter to the request. This will return (to the SDK, but not to the user) the additional information with the call, but it doesn't get included in the `CheckConfiguration` struct that `GetCheckConfigurationsOnResource` (and `GetCheckConfiguration`) return, so it's effectively inacces

[2022-04-27 00:34] kexugit commented on #116
@croemmich @theitalianz @xuzhang3 Please make sure swagger files are also updates - reference documents published on Docs will reflect what's defined in the swagger files.

[2022-06-11 06:00] frankieci opened #120 "API resource location<locationId> is not registered on"
Use the API, establish a connection using a personal access token and the URL to my Azure DevOps organization.
Then get a client using the connection and make API calls.
Call core.NewClient().GetProjects() function with the azure-devops-go-api, that encouters err:
`API resource location 603fe2ac-9723-48b9-88ad-09305aa6c6e1 is not registered on`

[code]
Need help, can you help me resolve the issue?

[2022-06-11 06:29] #120 closed

[2022-06-11 06:30] frankieci commented on #120
I resolve the issue, casue by organizationUrl with the project

[2022-07-08 12:07] SauliusE opened #121 "Cannot create a gallery client"
I am trying to create gallery client using following code:
[code]

However, I receive following error message:
`API resource area Id 69d21c00-f135-441b-b5ce-3626378e0819 is not registered on https://dev.azure.com/organization.`

I went through documentation and couldn't find details about this issue.

[2022-07-13 07:18] nechvatalp commented on #116
@croemmich Thanks for reporting, it actually should accept `KubernetesResourceCreateParametersNewEndpoint` the API accepts `KubernetesResourceCreateParameters` which is the baseclass of `KubernetesResourceCreateParametersNewEndpoint`.
However this causes generated documentation and clients to miss the crucial parameter, I filed a bug on the team owning this API to fix it.

[2022-07-14 20:51] croemmich commented on #116
@nechvatalp I don't think `KubernetesResourceCreateParametersNewEndpoint` will work for my use case. I don't want to create the K8s endpoint. It's already created, I just want to associate it.

This DOES NOT work:
[code]
Returns:
[code]

This is the request body I need to make:
[code]

[2022-09-07 18:49] jholm117 commented on #114
Any update on this? This is blocking the addition of approvals and checks to the terraform provider which we have a need for :)

[2022-10-29 13:45] aristosvo commented on #114
@tedchamb Can we please get a new API version? :)

[2022-10-30 06:49] aristosvo opened #123 "Generate API v7.1"
@nechvatalp Can we please have 7.1 generated?

I know it is still preview, but it seems the only way we could finally integrate [elastic pools](https://learn.microsoft.com/en-us/rest/api/azure/devops/distributedtask/elasticpools/create?view=azure-devops-rest-7.1) into automation like the Terraform Provider.

Open sourcing the process is also fine, as I can than easily setup a fork

Please vote on

[2022-11-23 09:20] Alancere opened #124 "[azuredevops/test] Neither GetBuildCodeCoverage nor GetTestRunCodeCoverage returns results"
code:
[code]
[code]
Neither GetBuildCodeCoverage nor GetTestRunCodeCoverage returns results

[2022-11-25 06:13] Alancere commented on #124
@nechvatalp Could you please check it out

[2022-11-28 09:00] nechvatalp commented on #114
There is a new version planned which would have all the APIs from 7.0 I can't provider any ETA at this time.

[2022-11-28 09:02] nechvatalp commented on #123
There is a new version planned which would have all the APIs from 7.0 I can't provider any ETA at this time.

[2022-11-28 09:12] nechvatalp commented on #116
Sorry, unfortunately I don't have enough time to properly maintain this repository. It comes down to priorities I have other work which is considered higher priority. I am trying to push on our PMs and management to invest more into our API clients as I would personally love to have them properly taken care of but so far, I was unsuccessful.